<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xuni.iOS.ChartCore" version="2.1.20161.86" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.Core" version="2.1.20161.86" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.FlexChart" version="2.1.20161.86" targetFramework="xamarinios10" />
</packages>